.mobsignin_carItems {
  //   width: 100% !important;
  height: 950px;
  width: 100%;
  //   object-fit: cover;
}
.mobsignin_wrap {
  position:fixed;
  inset:0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  .mobsignin_carousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .mob_wrap {
    position:absolute;
    z-index: 10;
    left:0;
    right:0;
    top:20px;
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: center;
    height:100%;
    .mobsignin_header_image {
      cursor: pointer;
      z-index: 1;
     // margin-top: 8rem;
      // img {
      //   filter: brightness(370%) contrast(1000%);
      // }
    }
    .mobsignin_authmethods {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 10rem;
    }
    .mobsignin_terms {
      margin-top: 2rem;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      max-width: 400px;
      @media screen and (max-width: 438px) {
        width: 300px;
      }
      .mobsignin_terms_listings {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
        text-align: center;
        a {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: #ffffff;
          text-align: center;
        }
      }
      .mobsignin_check_exist {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 36px;
        color: #ffffff;
        a {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 36px;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }

}
