.mobmen_wrapper {
  background: #1e1e1e;
  height: 56px;
  width: 100%;
  @media screen and (max-width: 800px) and (min-width: 600px) {
    justify-content: center;
    gap: 4rem;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  .mobmen_item1 {
    color: rgba(244, 244, 244, 0.5);
    font-size: 25px;
    cursor: pointer;
    &:hover {
      color: #f4f4f4;
    }
  }
  .mobmen_item2 {
    color: rgba(244, 244, 244, 0.5);
    font-size: 20px;
    cursor: pointer;
    &:hover {
      color: #f4f4f4;
    }
  }
  .mobmen_item3 {
    color: rgba(244, 244, 244, 0.5);
    font-size: 26px;
    cursor: pointer;
    &:hover {
      color: #f4f4f4;
    }
  }
  .mobmen_item4 {
    color: rgba(244, 244, 244, 0.5);
    font-size: 27px;
    cursor: pointer;
    &:hover {
      color: #f4f4f4;
    }
  }
  .mobmen_item5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(244, 244, 244, 0.5);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      border: 2px solid #f4f4f4;
      .mobmen_item5_sub {
        color: #f4f4f4;
      }
    }
    .mobmen_item5_sub {
      color: rgba(244, 244, 244, 0.5);
      font-size: 22px;
      position: absolute;
      bottom: -4px;
    }
  }
}
