.Landing_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .Landing_loading {
    @media screen and (min-width: 665px) {
      display: none;
    }
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .loading_background {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;

      @media screen and (max-width: 460px) {
        width: 450px;
      }
      @media screen and (max-width: 380px) {
        width: 400px;
      }
    }
    .loading_Icon {
      z-index: 6;
      position: fixed;
      top: 900px;
      transition: top 1s ease-in-out;
    }
    @keyframes bounce {
      0% {
        transform: translateY(20);
      }
      100% {
        transform: translateY(-20px);
      }
    }
  }
}
