.deskside_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .deskside_header {
    padding: 0rem 0.4rem;
    width: 100%;
    height: 87px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    background: #ff0020;
    @media screen and (max-width: 900px) {
      gap: 0.5rem;
    }
    .deskside_profile_wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.4rem;
      .deskside_profile {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .deskside_profile_image {
          max-width: 100%;
          height: auto;
        }
      }
      .deskside_name {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1px;
        color: #ffffff;
        max-width: 92px;
        overflow-y: hidden;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        white-space: nowrap;
        cursor: default;
        @media screen and (max-width: 900px) {
          font-size: 12px;
          letter-spacing: 0;
          line-height: 20px;
        }
      }
    }
    .deskside_explore,
    .deskside_consel,
    .deskside_chat {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: #1e1e1e;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @media screen and (max-width: 900px) {
        width: 25px;
        height: 25px;
      }
      .deskside_explore_icon,
      .deskside_chat_icon {
        color: #ffffff;
        font-size: 22px;
        @media screen and (max-width: 900px) {
          font-size: 14px;
        }
        &:hover {
          color: #ff0020;
        }
      }
      .deskside_consel_icon {
        color: #ffffff;
        font-size: 25px;
        @media screen and (max-width: 900px) {
          font-size: 16px;
        }
        &:hover {
          color: #ff0020;
        }
      }
    }
  }
  .deskside_outlet {
    padding: 1rem;
  }
}
