.match_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .match_matches {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.802236px;
      color: #1e1e1e;
    }
    .match_body_content {
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .match_body_img {
      }
      .match_body_text1 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 1px;
        color: #000000;
      }
      .match_body_text2 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 1px;
        color: #000000;
        max-width: 266px;
        @media screen and (max-width: 900px) {
          font-size: 14px;
          letter-spacing: 0;
          line-height: 20px;
          max-width: 200px;
        }
      }
    }
  }