.story_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 6rem;
  @media screen and (max-width: 855px) {
    padding: 2rem 2rem;
  }
  @media screen and (max-width: 664px) {
    display: none;
  }
  background-color: #f2f0f1;
  .story_head {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 49px;
  
 
    color: #1e1e1e;
    margin-bottom: 1rem;
  }
  .story_sub {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
  
    text-align: center;
   
    color: #1e1e1e;
    margin-bottom: 1rem;
    @media screen and (max-width: 900px) {
      font-size: 20px;
     
    }
  }
  .story_sub1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 3rem;
    @media screen and (max-width: 900px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
  .story_sub2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #1e1e1e;
    @media screen and (max-width: 900px) {
      font-size: 16px;
      line-height: 28px;
    }
    .story_community {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #ff0020;
      cursor: pointer;
    }
  }
}
