.expwid_wrapper {
  width: 154px;
  height: 166px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  .expwid_backimg {
    width: 100%;
    height: 100%;
  }
  .expwid_content_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    // height: 70%;
    padding: 0.5rem;
    .expwid_name {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.802236px;
      color: #ffffff;
      white-space: nowrap;
      max-width: 100%;
      overflow-y: hidden;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      cursor: default;
    }
    .expwid_location_wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.2rem;
      .expwid_location_icon {
        color: white;
        font-size: 16px;
      }
      .expwid_flag {
        width: 13px;
        height: 13px;
      }
      .expwid_location {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 8px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.802236px;
        color: #ffffff;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        max-width: 101px;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .expwid_work_wrap {
      background: #444444;
      border-radius: 80.2236px;
      width: 100%;
      height: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0rem 0.4rem;
      gap: 0.4rem;
      overflow: hidden;
      .expwid_work_icon {
        color: white;
        font-size: 12px;
      }
      .expwid_work_text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 9.62684px;
        line-height: 18px;
        letter-spacing: 0.802236px;
        color: #ffffff;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        max-width: 86px;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
