* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  #root {
    width: 100%;
    height: 100%;
  }
}
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
