.nav_border {
  border-bottom: 1px solid rgba(180, 173, 216, 0.2);
}

.nav_wrapper {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;

  @media screen and (max-width: 855px) {
    padding: 2rem 2rem;
  }

  .nav_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;

    @media screen and (max-width: 710px) {
      gap: 0.8rem;
    }

    .nav_logo {
      cursor: pointer;
    }

    .nav_navLinks {
      cursor: pointer;

      * {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 30px;
        color: #ffffff;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: #ff0020;
        }
      }
    }

    .nav_navLinks_black {
      * {
        color: black;
      }
    }
  }

  .nav_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;

    @media screen and (max-width: 710px) {
      gap: 0.8rem;
    }

    .nav_signin {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 44px;
      padding: 0 1rem;
      border: 2px solid #ffffff;
      border-radius: 9999px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      cursor: pointer;
      background-color: unset;
      transition: font-size 0.2s ease-in-out;

      &:hover {
        font-size: 17px;
      }
    }

    .nav_sigin_red {
      border: 2px solid #ff0020 !important;
      color: #ff0020 !important;
    }

    .nav_signup {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 44px;
      padding: 0 1rem;
      background: #ff0020 !important;
      border: none;
      border-radius: 9999px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      cursor: pointer;
      background-color: unset;
      transition: font-size 0.2s ease-in-out;

      &:hover {
        font-size: 17px;
      }
    }
  }

  .nav_profile_route {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    border-radius: 100px;
    width: fit-content;
    max-width: 185px;
    overflow: hidden;
    height: 44px;
    background: #1e1e1e;
    padding: 0rem 0.7rem 0rem;
    cursor: pointer;

    .nav_profile_img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }

    .nav_profile_name {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 1px;
      color: #ffffff;
      white-space: nowrap;
      max-width: 130px;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}